body {
	overflow-x: hidden;
}

.foodservs {
	flex-wrap: wrap;
}

.name {
	display: inline;
}

.icon-bar {
	display: block;
	width: 15px;
	height: 4px;
	margin-bottom: 3px;
	color: black;
	background-color: black;
}

.template {
	width: 350px;
	display: block;
	height: 40px;
}

.servingsize {
	display: block;
	background-color: white;
}

.servingsize a {
	width: 50px;
	height: 50px;
	background-color: 'green';
	flex-grow: 1;
	border-radius: 50px;
	display: block;
	text-align: center;
}

.red,
.yel,
.grn {
	white-space: nowrap;
	float: right;
	overflow: auto;
}

.red::after,
.yel::after,
.grn::after {
	display: block;
}
.added {
	padding: 30px;
	z-index: 1;
	
}
.alltemplates {
	float: right;
}
.foodname {
	white-space: nowrap;
	font-size: 16px;
	font-family: serif;
	display: inline;
	left: 10px;
	position: relative;
}
svg {
	display: inline;
	white-space: nowrap;
	margin: 4px;
}
.foodservs {
	position: relative;
	display: inline-block;
	height: 40px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.elements {
	position: absolute;
	right: 10px;
}
.Header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 50px;
	padding: 0px;
	margin: 0px;
	left: 0px;
	background-color: #CCCCCC;
}
.Header * {
	margin-top: auto;
	margin-bottom: auto;
	font-size: 20px;
	white-space: pre;
	position: relative;
	color: darkblue;
}
.nowrap {
	font-size: 16px;
	white-space: nowrap;
}
.col {
	margin: 0px;
}
#advert {
	margin: 30px;
}
input {
	position: relative;
	display: block;
	margin-bottom: 10px !important;
}
