<!--
<head>
-->
<link rel="stylesheet" href="{{url_for('static', filename='style.css') ~ '?v=' ~ range(1,5000)|random}}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script>
    
    
    function childAdder(parent, childName, childClass) {
        var p = document.createElement("p");
        p.classList.add("editexplp");
        if (childName == "Name") {
            p.classList.add("nameexp");
        }
        p.innerHTML = childName;
        p.style.margin = "2px";
        var inp = document.createElement("input");
        inp.type = "text";
        inp.classList.add("editinp");
        inp.classList.add(childClass);
        inp.placeholder = childName;
        inp.style.margin = "2px";
        parent.children[0].appendChild(p);
        parent.children[1].appendChild(inp);
    }
    
    
    function foodadddiv() {
        var div = document.createElement('div');
        div.id = "-1";
        div.classList.add("editfoodbdiv");
        
        var parentdiv = document.createElement('div');
        parentdiv.id = "-2";
        parentdiv.classList.add("editfoodinp");
        parentdiv.classList.add("row");
        
        var expdiv = document.createElement('div');
        expdiv.id = "-3";
        expdiv.classList.add("col-6")
        expdiv.classList.add("col-lg-12");
        expdiv.classList.add("exps");

        var inpdiv = document.createElement('div');
        inpdiv.id = "-4";
        inpdiv.classList.add("col-6")
        inpdiv.classList.add("col-lg-12");
        inpdiv.classList.add("inps");
        
        parentdiv.appendChild(expdiv);
        parentdiv.appendChild(inpdiv);
        
        childAdder(parentdiv, "Name", "nameinp");
        childAdder(parentdiv, "Serving", "servingsizeinp");
        childAdder(parentdiv, "Calories", "calinp");
        childAdder(parentdiv, "Protein", "protinp");
        childAdder(parentdiv, "Carbs", "carbinp");
        childAdder(parentdiv, "Fat", "finp");
        childAdder(parentdiv, "Color", "colorinp");
        
        var cdiv = document.createElement('div');
        cdiv.classList.add("deleteinpparent");
        
        var cexp = document.createElement('p');
        cexp.classList.add("editexplp");
        cexp.innerHTML = "Delete?";
        
        var cbox = document.createElement('input');
        cbox.type = "checkbox";
        cbox.classList.add("deleteinp");
        cbox.classList.add("editinp");
        cdiv.appendChild(cbox);
        
        parentdiv.children[0].appendChild(cexp);
        parentdiv.children[1].appendChild(cdiv);
        div.appendChild(parentdiv);
        div.id = "-2";
        parentdiv.id = "-1";
        document.getElementById("allfoods").appendChild(div);
    }
    
    function exerciseadddiv() {
        var div = document.createElement('div');
        div.id = "-1";
        div.classList.add("editfoodbdiv");
        
        var parentdiv = document.createElement('div');
        parentdiv.id = "-2";
        parentdiv.classList.add("editfoodinp");
        parentdiv.classList.add("row");
        
        var expdiv = document.createElement('div');
        expdiv.id = "-3";
        expdiv.classList.add("col-6")
        expdiv.classList.add("col-lg-12");
        expdiv.classList.add("exps");

        var inpdiv = document.createElement('div');
        inpdiv.id = "-4";
        inpdiv.classList.add("col-6")
        inpdiv.classList.add("col-lg-12");
        inpdiv.classList.add("inps");
        
        parentdiv.appendChild(expdiv);
        parentdiv.appendChild(inpdiv);
        
        childAdder(parentdiv, "Name", "nameinp");
        childAdder(parentdiv, "Serving", "servingsizeinp");
        childAdder(parentdiv, "Calories", "calinp");
        childAdder(parentdiv, "Protein", "protinp");
        childAdder(parentdiv, "Carbs", "carbinp");
        childAdder(parentdiv, "Fat", "finp");
        childAdder(parentdiv, "Color", "colorinp");
        
        var cdiv = document.createElement('div');
        cdiv.classList.add("deleteinpparent");
        
        var cexp = document.createElement('p');
        cexp.classList.add("editexplp");
        cexp.innerHTML = "Delete?";
        
        var cbox = document.createElement('input');
        cbox.type = "checkbox";
        cbox.classList.add("deleteinp");
        cbox.classList.add("editinp");
        cdiv.appendChild(cbox);
        
        parentdiv.children[0].appendChild(cexp);
        parentdiv.children[1].appendChild(cdiv);
        div.appendChild(parentdiv);
        div.id = "-2";
        parentdiv.id = "-1";
        document.getElementById("allfoods").appendChild(div);
    }
    
    function submit() {
        var foodjson = [];
        var foodlist = document.getElementsByClassName("editfoodinp");
        for (var i = 0, len = foodlist.length; i < len; i++) {
            var div = foodlist[i];
            id = div.id;
            name = div.children[1].children[0].value;
            console.log(name);
            servingsizename = div.children[1].children[1].value;
            console.log(servingsizename);
            cals = div.children[1].children[2].value;
            console.log(cals);
            protein = div.children[1].children[3].value;
            console.log(protein);
            carbs = div.children[1].children[4].value;
            console.log(carbs);
            fat = div.children[1].children[5].value;
            console.log(fat);
            color = div.children[1].children[6].value;
            console.log(color);
            checkbox = div.children[1].children[7].children[0];
            var del = "false";
            if (checkbox.checked) {
                del = "true";
            }
            console.log(checkbox);
            food = {"name":name, "fat": fat, "protein":protein, "carbs":carbs, "calories":cals, "serving":servingsizename, "color":color, "id":id, "username": {{current_user.uid}}, "delete":del};
            foodjson.push(food);
        }
        var http = new XMLHttpRequest();
        http.open("POST", "/editfoodtypes", true);
        http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        http.send(JSON.stringify(foodjson));
        setTimeout( function() {
                window.location.href = "/addfood";
        }, 1000);
    }
</script>
<!--
</head>
-->
<body>
    {% include "header.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="d-none d-lg-block col-lg-1"></div>
            <div class="col-12 col-lg-10" id="allfoods">
                {% for food in foods %}
                <div class="editfoodbdiv">
                <div class="editfoodinp row" id="{{food.id}}">
                    <div class="col-6 col-lg-12 exps">
                        <p class="editexplp nameexp">Name</p>
                        <p class="editexplp">Serving</p>
                        <p class="editexplp">Calories</p>
                        <p class="editexplp">Protein</p>
                        <p class="editexplp">Carbs</p>
                        <p class="editexplp">Fat</p>
                        <p class="editexplp">Color</p>
                        <p class="editexplp">Delete?</p>
                    </div>
                    <div class="col-6 col-lg-12 inps">
                        <input type="text" class="editinp nameinp" value="{{food.name}}"></input>
                        <input type="text" class="editinp servingsizeinp" value="{{food.servingsize}}"></input>
                        <input type="text" class="editinp calinp" value="{{food.calories}}"></input>
                        <input type="text" class="editinp protinp" value="{{food.protein}}"></input>
                        <input type="text" class="editinp carbinp" value="{{food.carbs}}"></input>
                        <input type="text" class="editinp finp" value="{{food.fat}}"></input>
                        <input type="text" class="editinp colorinp" value="{{food.color}}"></input>
                        <div class="deleteinpparent">
                            <input type="checkbox" class="editinp deleteinp"></input>
                        </div>
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>
            <div class="submitbtndiv col-12 col-lg-12">
                <button class="adddivbtn" onclick="foodadddiv();">Add a Food</button>
                <button class="submitbtn" onclick="submit();">Submit</button>
            </div>
            <div class="d-none d-lg-block col-lg-1"></div>
    </div>
</body>

