<!--
<head>
-->
<link rel="stylesheet" href="{{url_for('static', filename='style.css') ~ '?v=' ~ range(1,5000)|random}}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script>
	function submit() {
	var foodjson = [];
    var foodlist = document.getElementsByClassName("editfoodinp");
    for (var i = 0, len = foodlist.length; i < len; i++) {
		var div = foodlist[i];
		id = div.id;
		name = div.children[0].value;
		console.log(name);
		servname = div.children[1].value;
		console.log(servname);
		cals = div.children[2].value;
		console.log(cals);
		protein = div.children[3].value;
		console.log(protein);
		carbs = div.children[4].value;
		console.log(carbs);
		fat = div.children[5].value;
		console.log(fat);
		color = div.children[6].value;
		console.log(color);
		food = {"name":name, "fat": fat, "protein":protein, "carbs":carbs, "calories":cals, "serving":servname, "color":color, "id":id, "username": {{current_user.uid}} };
		foodjson.push(food);
	};
	var http = new XMLHttpRequest();
    http.open("POST", "/editfoods", true);
    http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
    http.send(JSON.stringify(foodjson));
    setTimeout( function() {
			window.location.href = "/addfood";
	}, 1000);
	}
	
	
	function submitsmall() {
	var foodjson = [];
    var foodlist = document.getElementsByClassName("editfoodexpsm");
    for (var i = 0, len = foodlist.length; i < len; i++) {
		var div = foodlist[i];
		id = div.id;
		name = div.children[0].children[1].value;
		console.log(name);
		servname = div.children[1].children[1].value;
		console.log(servname);
		cals = div.children[2].children[1].value;
		console.log(cals);
		protein = div.children[3].children[1].value;
		console.log(protein);
		carbs = div.children[4].children[1].value;
		console.log(carbs);
		fat = div.children[5].children[1].value;
		console.log(fat);
		color = div.children[6].children[1].value;
		console.log(color);
		food = {"name":name, "fat": fat, "protein":protein, "carbs":carbs, "calories":cals, "serving":servname, "color":color, "id":id, "username": {{current_user.uid}} };
		foodjson.push(food);
	};
	var http = new XMLHttpRequest();
    http.open("POST", "/editfoods", true);
    http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
    http.send(JSON.stringify(foodjson));
    setTimeout( function() {
			window.location.href = "/addfood";
	}, 1000);
	}
</script>
<!--
</head>
-->
<body>
	{% include "header.html" %}
	<div class="container-fluid">
		<div class="row">
			
<!--
			The below column contains list of meals
-->
			<div class="col-2 d-none d-lg-block"></div>
			<div class="d-none d-lg-block col-2 col-lg-8">
				{% for food in foods %}
				<div class="editfoodbdiv">
				<div class="editfoodexp">
					<p class="editexplp nameinp">Name</p>
					<p class="editexplp">Serving</p>
					<p class="editexplp">Calories</p>
					<p class="editexplp">Protein</p>
					<p class="editexplp">Carbs</p>
					<p class="editexplp">Fat</p>
					<p class="editexplp">Color</p>
				</div>
				<div class="editfoodinp" id="{{food.id}}">
					<input type="text" class="editinp nameinp" value="{{food.name}}"></input>
					<input type="text" class="editinp servinp" value="{{food.serv}}"></input>
					<input type="text" class="editinp calinp" value="{{food.calories}}"></input>
					<input type="text" class="editinp protinp" value="{{food.protein}}"></input>
					<input type="text" class="editinp carbinp" value="{{food.carbs}}"></input>
					<input type="text" class="editinp finp" value="{{food.fat}}"></input>
					<input type="text" class="editinp colorinp" value="{{food.color}}"></input>
				</div>
				</div>
				{% endfor %}
				<div class="submitbtndiv col-lg-12">
					<button class="submitbtn" onclick="submit();">Submit</button>
				</div>
			</div>
			
			
			<div class="d-block d-lg-none col-12">
				{% for food in foods %}
				<div class="editfoodbdiv">
				<div class="editfoodexpsm" id="{{food.id}}">
					<div class="editdivsm">
					<p class="editexplpsm nameinp">Name</p>
					<input type="text" class="editinp editinpsm nameinp" value="{{food.name}}"></input>
					</div>
					<div class="editdivsm">
					<p class="editexplpsm">Serving</p>
					<input type="text" class="editinp editinpsm servinp" value="{{food.serv}}"></input>
					</div>
					<div class="editdivsm">
					<p class="editexplpsm">Calories</p>
					<input type="text" class="editinp editinpsm calinp" value="{{food.calories}}"></input>
					</div>
					<div class="editdivsm">
					<p class="editexplpsm">Protein</p>
					<input type="text" class="editinp editinpsm protinp" value="{{food.protein}}"></input>
					</div>
					<div class="editdivsm">
					<p class="editexplpsm">Carbs</p>
					<input type="text" class="editinp editinpsm carbinp" value="{{food.carbs}}"></input>
					</div>
					<div class="editdivsm">
					<p class="editexplpsm">Fat</p>
					<input type="text" class="editinp editinpsm finp" value="{{food.fat}}"></input>
					</div>
					<div class="editdivsm">
					<p class="editexplpsm">Color</p>
					<input type="text" class="editinp editinpsm colorinp" value="{{food.color}}"></input>
					</div>
				</div>
				</div>
				{% endfor %}
				<div class="d-block d-lg-none submitbtndiv col-12">
					<button class="submitbtn" onclick="submitsmall();">Submit</button>
				</div>
			</div>
	</div>
</body>

