<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')  ~ '?v=' ~ range(1,5000)|random}}" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script>
	var foods = [];
	var exercises = [];
	var weight = -1;
	function servingHandler(serv, color, name, id, calories, protein, carbs, fat) {
		{% if current_user.username %}
			food = {"name":name, "fat": fat, "protein":protein, "carbs":carbs, "calories":calories, "serving":serv, "color":color, "id":id, "username": {{current_user.uid}} };
		{% else %}
			food = {"serving":serv, "color":color, "id":id, "username": "Guest" };
		{% endif %}
        console.log(food);
        foods.push(food);
    }
    function exerciseHandler(l, color, name, id, mets) {
		exercise = {"name":name, "length": l, "calories":100*mets, "id":id, "username": {{current_user.uid}} };
        console.log(exercise);
        exercises.push(exercise);
    }
    function submit() {
		foods.push(document.getElementById("post").value);
        var http = new XMLHttpRequest();
        var to_send = {"foods":foods, "exercises":exercises};
        http.open("POST", "/addfood", true);
        http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        http.send(JSON.stringify(to_send));
        setTimeout( function() {
			window.location.href = "/foodstats";
		}, 1000);
	}
</script>
</head>
<body>
{% include "header.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6  col-lg-3">
            {% for ft in foods[0:foods|length // 3] %}
            <div class="foodservs" style="background-color: {{loop.cycle('#C5C5C5', '#DCDCDC')}}">
                <p class="foodname">{{ft.name}}: {{ft.serving}}</p>
                <div class="elements">
                    <svg width="24" height="24" onclick="servingHandler(0.25, '{{ft.color}}', '{{ft.name}}', {{ft.id}}, {{ft.calories}}, {{ft.protein}}, {{ft.carbs}}, {{ft.fat}})">
                        <path d="M 12 12 V 0 A 12 12 0 0 1 24 12 M 12 12" fill={{ft.color}} />
                    </svg>
                    <svg width="24" height="24" onclick="servingHandler(0.5, '{{ft.color}}', '{{ft.name}}', {{ft.id}}, {{ft.calories}}, {{ft.protein}}, {{ft.carbs}}, {{ft.fat}})">
                        <path d="M 12 12 V 0 A 12 12 0 0 1 12 24 M 12 12" fill={{ft.color}} />
                    </svg>
                    <svg width="24" height="24" onclick="servingHandler(1, '{{ft.color}}', '{{ft.name}}', {{ft.id}}, {{ft.calories}}, {{ft.protein}}, {{ft.carbs}}, {{ft.fat}})">
                        <circle cx="12" cy="12" r="12" fill={{ft.color}} />
                    </svg>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12 col-md-6  col-lg-3">
            {% for ft in foods[foods|length // 3:2*foods|length//3] %}
            <div class="foodservs" style="background-color: {{loop.cycle('#C5C5C5', '#DCDCDC')}}">
                <p class="foodname">{{ft.name}}: {{ft.serving}}</p>
                <div class="elements">
                    <svg width="24" height="24" onclick="servingHandler(0.25, '{{ft.color}}', '{{ft.name}}', {{ft.id}}, {{ft.calories}}, {{ft.protein}}, {{ft.carbs}}, {{ft.fat}})">
                        <path d="M 12 12 V 0 A 12 12 0 0 1 24 12 M 12 12" fill={{ft.color}} />
                    </svg>
                    <svg width="24" height="24" onclick="servingHandler(0.5, '{{ft.color}}', '{{ft.name}}', {{ft.id}}, {{ft.calories}}, {{ft.protein}}, {{ft.carbs}}, {{ft.fat}})">
                        <path d="M 12 12 V 0 A 12 12 0 0 1 12 24 M 12 12" fill={{ft.color}} />
                    </svg>
                    <svg width="24" height="24" onclick="servingHandler(1, '{{ft.color}}', '{{ft.name}}', {{ft.id}}, {{ft.calories}}, {{ft.protein}}, {{ft.carbs}}, {{ft.fat}})">
                        <circle cx="12" cy="12" r="12" fill={{ft.color}} />
                    </svg>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12 col-md-6  col-lg-3">
            {% for ft in foods[2*foods|length//3:] %}
            <div class="foodservs" style="background-color: {{loop.cycle('#C5C5C5', '#DCDCDC')}}">
                <p class="foodname">{{ft.name}}: {{ft.serving}}</p>
                <div class="elements">
                    <svg width="24" height="24" onclick="servingHandler(0.25, '{{ft.color}}', '{{ft.name}}', {{ft.id}}, {{ft.calories}}, {{ft.protein}}, {{ft.carbs}}, {{ft.fat}})">
                        <path d="M 12 12 V 0 A 12 12 0 0 1 24 12 M 12 12" fill={{ft.color}} />
                    </svg>
                    <svg width="24" height="24" onclick="servingHandler(0.5, '{{ft.color}}', '{{ft.name}}', {{ft.id}}, {{ft.calories}}, {{ft.protein}}, {{ft.carbs}}, {{ft.fat}})">
                        <path d="M 12 12 V 0 A 12 12 0 0 1 12 24 M 12 12" fill={{ft.color}} />
                    </svg>
                    <svg width="24" height="24" onclick="servingHandler(1, '{{ft.color}}', '{{ft.name}}', {{ft.id}}, {{ft.calories}}, {{ft.protein}}, {{ft.carbs}}, {{ft.fat}})">
                        <circle cx="12" cy="12" r="12" fill={{ft.color}} />
                    </svg>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12 col-md-6  col-lg-3">
			<div class="outerminlabel">
				<p class="minlabel" style="background-color: #C5C5C5;">All measured in minutes</p>
			</div>
			{% for et in elist %}
			<div class="eservs" style="background-color: {{loop.cycle('#DCDCDC', '#C5C5C5')}}">
                <p class="foodname">{{et.name}}</p>
                <div class="elements">
					<div class="exel" onclick="exerciseHandler(1, 'black', '{{et.name}}', {{et.id}}, {{et.mets}})" >
                        <text x="0" y="0" fill="black">1</text>
                    </div>
                    <div class="exel" onclick="exerciseHandler(5, 'black', '{{et.name}}', {{et.id}}, {{et.mets}})" > 
                        <text x="0" y="0" fill="black">5</text>
                    </div>
                    <div class="exel" onclick="exerciseHandler(15, 'black', '{{et.name}}', {{et.id}}, {{et.mets}})" >
                        <text x="0" y="0" fill="black">15</text>
                    </div>
                    <div class="exel" onclick="exerciseHandler(60, 'black', '{{et.name}}', {{et.id}}, {{et.mets}})" >
                        <text x="0" y="0" fill="black">60</text>
                    </div>
                </div>
            </div>
            {% endfor %}
		</div>
		<div class="w-100"></div>
        <div class="divnotes col-12 d-flex justify-content-center">
            <textarea rows="3" cols="40" id="post" name="post" placeholder="Notes"></textarea>
        </div>
        <div class="divsubmit col-12 d-flex justify-content-center">    
            <button class="submitbutton" onclick="submit();">Submit</button>
        </div>
    </div>
</div>
</body>
</html>
