<h3>Heading</h3>
<div class="dropdown bg-primary" style="background-color: blue;">
        <a class="btn btn-primary" role="button" data-toggle="dropdown" id="dropdownMenu1" aria-expanded="false">
            <span class="icon-bars-button">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
            </span>
        </a>
        <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" tabindex="-1" href="#addmeal">Add Meal</a>
            <a class="dropdown-item" tabindex="-1" href="#history">Meal History</a>
            <a class="dropdown-item" tabindex="-1" href="#stats">Stats</a>
            <a class="dropdown-item" tabindex="-1" href="#about">About User</a>
    </div>
</div>
