<!-- <div class="dropdown">
     <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <!-- <span class="icon-bars-button">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
       </span> 
       Button
   </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#addmeal">Add Meal</a>
            <a class="dropdown-item" href="#history">Meal History</a>
            <a class="dropdown-item" href="#stats">Stats</a>
            <a class="dropdown-item" href="#about">About User</a>
    </div>
</div> -->
