{%include "header.html" %}
<head>
<script>
	function signup() {
		uname = document.getElementById("uname").value;
		console.log(uname);
		email = document.getElementById("email").value;
		console.log(email);
		passwd = document.getElementById("password").value;
		console.log(passwd);
		data = {"uname":uname, "email":email, "passwd":passwd};
		console.log(data);
		var http = new XMLHttpRequest();
        http.open("POST", "/adduser", true);
        http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        http.send(JSON.stringify(data));
	}
</script>
</head>
<body>
	<form>
		<input type="text" id="uname" name="username"></input>
		<input type="email" id="email" name="email"></input>
		<input type="password" id="password" name="password"></input>
		<button type="button" onclick="signup()">Submit</button>
	</form>
</body>
