<!--
<head>
-->
<link rel="stylesheet" href="{{url_for('static', filename='style.css') ~ '?v=' ~ range(1,5000)|random}}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script>
	function delmeal() {
		var checkboxes = documents.getElementsByName("cbdel");
    console.log(foodjson);
    var http = new XMLHttpRequest();
    http.open("POST", "/deletemeal", true);
    http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
    http.send(JSON.stringify(foodjson));
	}
	
</script>
<!--
</head>
-->
<body>
	{% include "header.html" %}
	<div class="container-fluid">
		<div class="row">
			
<!--
			The below column contains list of meals
-->
			
			<div class="col">
				{% for meal in meals %}
				{% set ns = namespace() %}
				{% set ns.cals = 0 %}
				{% set ns.proteins = 0 %}
				{% set ns.fats = 0 %}
				{% set ns.carbs = 0 %}
				<div class="table-responsive">
				{% if meal['flist'] != [] %}
				{% for foodelem in meal['flist'] %}
				{% if foodelem.active == True %}
				{% set ns.cals = ns.cals + foodelem.calories %}
				{% set ns.proteins = ns.proteins + foodelem.protein_amt %}
				{% set ns.fats = ns.fats + foodelem.fat_amt %}
				{% set ns.carbs = ns.carbs + foodelem.carb_amt %}
				{% endif %}
				{% endfor %}
				{% endif %}
				{% if meal['flist'] != [] or meal['elist'] != [] %}
				<table class="mealtable table no-gutters">
					{% if meal['flist'] != [] %}
					<tr class="mealrow">
						<th style="width:40%" class="mealheading">Food Name</th>
						<th style="width:15%" class="mealheading">Color</th>
						<th style="width:10%" class="mealheading">Calories</th>
						<th style="width:10%" class="mealheading">Protein</th>
						<th style="width:10%" class="mealheading">Fats</th>
						<th style="width:10%" class="mealheading">Carbs</th>
						<th style="width:5%" class="mealheading">Delete</th>
					</tr>
					{% for item in meal['flist'] %}
					{% if item.active == True %}
					<tr class="mealrow">
					<td>{{item.name}}: {{item.sid}}</td>
					<td>{{item.color}}</td>
					<td>{{item.calories}}</td>
					<td>{{item.protein_amt}}</td>
					<td>{{item.fat_amt}}</td>
					<td>{{item.carb_amt}}</td>
					<td><a href="/deletefood/{{item.eid}}">Delete</a></td>
					</tr>
					{% endif %}
					{% endfor %}
					<tr class="mealrow">
					<td colspan=2>Total</td>
					<td>{{ns.cals}}</td>
					<td>{{ns.proteins}}</td>
					<td>{{ns.fats}}</td>
					<td>{{ns.carbs}}</td>
					<td class="mealheading"><a href="/deletemeal/{{meal.mealid}}">Delete</a></td>
					</tr>
					{% endif %}
					{% if meal['elist'] != [] %}
					<tr class="mealrow">
						<th colspan=3 class="mealheading">Exercise Name</th>
						<th colspan=1 class="mealheading">Length</th>
						<th colspan=2 class="mealheading">Calories</th>
						<th colspan=1 class="mealheading">Delete</th>
					</tr>
					{% for item in meal['elist'] %}
						<tr class="mealrow">
							<td colspan=3 >{{item.ename}}</td>
							<td colspan=1 >{{item.length}}</td>
							<td colspan=2 >{{item.calories}}</td>
							<td colspan=1 ><a href="/deletefood/{{item.eid}}">Delete</a></td>
						</tr>
					{% endfor %}
					{% endif %}
					<tr class="time">
						<td colspan=7>Created on: {{meal.timestamp}}</td>
					</tr>
					{% if meal.details != "" %}
					<tr class="details" style="border-bottom: 1pt solid black;">
						<td colspan=7>Notes: {{meal.details}}</td>
					</tr>
					{% endif %}
				</table>
				{% endif %}
				</div>
				{% endfor %}
			</div>

<!--
			The below column contains stats by day
-->
			
			<div class="col">
				<div class="table-responsive">
				<table class="mealtable table no-gutters">
				<colgroup>
				<col style="width:35%">
				<col style="width:20%">
				<col style="width:10%">
				<col style="width:10%">
				<col style="width:10%">
				<col style="width:10%">
				<col style="width:5%">
				</colgroup>
				<tr class="mealrow">
					<th class="mealheading">Date</th>
					<th class="mealheading">Calories</th>
					<th class="mealheading">Protein</th>
					<th class="mealheading">Fats</th>
					<th class="mealheading">Carbs</th>
				</tr>
				{% for date in d|reverse %}
				<tr class="daterow">
					<td class="data">{{date}}</td>
					<td class="data">{{d[date].calories}}</td>
					<td class="data">{{d[date].protein}}</td>
					<td class="data">{{d[date].fat}}</td>
					<td class="data">{{d[date].carbs}}</td>
				</tr>
				{% endfor %}
				</table>
				</div>
			</div>
			
			
		</div>
	</div>
</body>
