<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script>
	function delmeal() {
		var checkboxes = documents.getElementsByName("cbdel");
    console.log(foodjson);
    var http = new XMLHttpRequest();
    http.open("POST", "/deletemeal", true);
    http.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
    http.send(JSON.stringify(foodjson));
	}
	
</script>
{% include "header.html" %}
<div class="container-fluid">
{% for meal in meals %}
<div class="row">
<div class="col">
{% if foodelems != [] %}
{% set ns = namespace() %}
{% set ns.cals = 0 %}
{% set ns.proteins = 0 %}
{% set ns.fats = 0 %}
{% set ns.carbs = 0 %}
{% for foodelem in meal['list'] %}
{% if foodelem.active == True %}
{% set ns.cals = ns.cals + foodelem.calories %}
{% set ns.proteins = ns.proteins + foodelem.protein_amt %}
{% set ns.fats = ns.fats + foodelem.fat_amt %}
{% set ns.carbs = ns.carbs + foodelem.carb_amt %}
{% endif %}
{% endfor %}
{% endif %}
<table class="w-50 mealtable" style="border-collapse: collapse;">
	<col style="width:35%">
	<col style="width:20%">
	<col style="width:10%">
	<col style="width:10%">
	<col style="width:10%">
	<col style="width:10%">
	<col style="width:5%">
	<tr class="mealrow">
		<th class="mealheading">Food Name</th>
		<th class="mealheading">Color</th>
		<th class="mealheading">Calories</th>
		<th class="mealheading">Protein</th>
		<th class="mealheading">Fats</th>
		<th class="mealheading">Carbs</th>
		<th class="mealheading">Delete</th>
	</tr>
	{% for item in meal['list'] %}
	{% if item.active == True %}
	<tr class="mealrow">
	<td>{{item.name}}</td>
	<td>{{item.color}}</td>
	<td>{{item.calories}}</td>
	<td>{{item.protein_amt}}</td>
	<td>{{item.fat_amt}}</td>
	<td>{{item.carb_amt}}</td>
	<td><a href="/deletefood/{{item.eid}}">Delete</a></td>
	</tr>
	{% endif %}
	{% endfor %}
	<tr class="mealrow">
	<td colspan=2>Total</td>
	<td>{{ns.cals}}</td>
	<td>{{ns.proteins}}</td>
	<td>{{ns.fats}}</td>
	<td>{{ns.carbs}}</td>
	<td class="mealheading"><a href="/deletemeal/{{meal.mealid}}">Delete</a></td>
	</tr>
	<tr class="time">
		<td colspan=7>Created on: {{meal.timestamp}}</td>
	</tr>
	{% if meal.details != "" %}
	<tr class="details" style="border-bottom: 1pt solid black;">
		<td colspan=7>Notes: {{meal.details}}</td>
	</tr>
	{% endif %}
</table>
</div>
</div>
<br>
{% endfor %}
